@import "tailwindcss";

:root {
  --color-brand: #e5ab46;
}

@theme {
  --color-brand: #4f46e5;
}

@layer base {
  html {
    font-size: 16px;
  }

  a {
    @apply text-indigo-600 underline;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-play);
}